.ball {
  --delay: 0s;
  --size: 0.4;
  --speed: 20s;
  
  aspect-ratio: 1;
  width: calc(150% * var(--size));
  
  background: linear-gradient(259.53deg, #0A3FFF 6.53%, #0a8dff 95.34%);
  filter: blur(10vw);
  
  border-radius: 50%;
  
  position: absolute;
  top: 0;
  left: 0;
  
  animation: loop var(--speed) infinite linear;
  animation-delay: var(--delay);
  transform-origin: 50% 50%;
  
  opacity: 0.6;
}

@keyframes loop {
  0% { transform: translate3D(0%, 51%, 0) rotate(0deg); }
  25% { transform: translate3D(50%, 47%, 0) rotate(90deg); }
  50% { transform: translate3D(99%, 47%, 0) rotate(180deg); }
  75% { transform: translate3D(50%, 63%, 0) rotate(270deg); }
  100% { transform: translate3D(0%, 51%, 0) rotate(360deg); }
}

.glow-container {
  overflow-x: hidden;
  overflow-y: hidden;
  position: initial;
  
  width: 100%;
  min-height: fit-content;
}
